@model IEnumerable<AppTurs.Comun.Models.Lugar_Turistico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_LugarTuristico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_LugarTuristico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sitio_web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitud)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_LugarTuristico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_LugarTuristico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sitio_web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitud)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idLugarTuristico }) |
            @Html.ActionLink("Details", "Details", new { id=item.idLugarTuristico }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idLugarTuristico })
        </td>
    </tr>
}

</table>
