@model AppTurs.Comun.Models.CentroSalud

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CentroSalud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_CentroSalud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_CentroSalud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_CentroSalud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_CentroSalud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sitio_web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sitio_web)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCentroSalud }) |
    @Html.ActionLink("Back to List", "Index")
</p>
