@model IEnumerable<AppTurs.Comun.Models.Restaurante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    <li>@Html.ActionLink("Sucursales de Restaurantes", "Index", "Sucursal_Restaurante")</li>

</p>
<p>
    @Html.ActionLink("Create New", "Create",new { }, new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_rest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_rest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sitio_web)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (!string.IsNullOrEmpty(item.foto))
            {
                <img src="@Url.Content(item.foto)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_rest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_rest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sitio_web)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idrestaurante }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.idrestaurante }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idrestaurante }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
