@model AppTurs.Comun.Models.Sucursal_Restaurante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sucursal_Restaurante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idRest.nombre_rest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRest.nombre_rest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitud)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSucursalRest }) |
    @Html.ActionLink("Back to List", "Index")
</p>
